@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf)
}



*{
    padding: 0;
    margin: 0;
    font-family: "montserrat";
    /*Galeria*/
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}
/*index*/
header{
    display:flex;
    height: 150px;
    justify-content: space-between;
    background-color: rgb(0, 129, 201);
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
/* Estilos para el botón de hamburguesa */
.hamburger-menu {
    display: none;
  }

  /* Estilos para el icono de hamburguesa */
  .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 1;
  }
  
  #menu-btn {
    display: none;
  }

  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.5s ease-in-out;
    width: 18px;
  }
  
  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  
  .menu-icon .navicon:before {
    top: 5px;
  }
  
  .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* Estilos para el menú hamburguesa */
  .menu {
    clear: both;
    display: none;
    float: right;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 70px;
    z-index: 1;
  }
  
  .menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .menu li a {
    background-color: #333;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 15px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Estilos para el menú hamburguesa cuando se muestra */
  #menu-btn:checked ~ .menu {
    display: block;
  }
.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height: 150px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:white;
}

#main-html{
    background-image: url("/img/hombre-puliendo.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.texto-bienvenida{
    max-width: 1000px; 
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    color: #fff; 
    text-shadow: 2px 2px #000; 
}

.texto-bienvenida h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.texto-bienvenida p{
    font-size: 1.5em;
}

footer{
    background-color: rgb(91, 192, 248); 
    color: black; 
    padding: 20px 0;
}

.container{
    max-width: 800px; 
    margin: 0 auto;
    text-align: center;
}

.redes-sociales img{
    width: 50px; 
    margin: 0 10px; 
}

p{
    font-size: 1,4em;
    margin-top: 10px;
}



/*GALERIA*/

#main-galeria{
        background-image: linear-gradient(135deg
        ,#00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
        background-size: 500%;
        animation:fondoanimado 10s infinite;
}

#galeria .col-lg4{
    margin:0 px;
    padding: 25 px 
}

#galeria img{
    width: 250px;
    height: 250px;
    margin: 15px 0px ;
}

#galeria img:hover {
    border:5px solid #f5f5f5;
}


/*FAQ*/
#main-faq{
    background-image: linear-gradient(135deg
    ,#00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation:fondoanimado 10s infinite;
}
.texto-faq h1{
    font-size: 28px;
    text-align: center;
    padding: 150px;
    font-weight: 500;
    color:#ccc
}
.texto-faq p{
    color:#da8f8f;
}

.bienvenido-faq{
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count:1 ;
}

.contenedor-todoElTexto h1{
    text-align: center;
    padding: 20px;
    color:white;
}

.contenedor-todoElTexto h2{
    margin:30px;
    color:white;
}

.contenedor-todoElTexto p{
    font-weight: 800;
    padding-bottom: 30px;
    padding-left: 30px;
    color:#da8f8f;
}


/* CONTACTO*/

#main-contacto{
    background-image: linear-gradient(135deg
    ,#00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation:fondoanimado 10s infinite;
}

.texto-contacto{
    padding:90px 50px

}

.texto-contacto h1{
    color:white;
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count:1 ; 
}

.texto-contacto p{
    color:#da8f8f;
}

#formulario-mapa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#mapa{
    flex: 1;
    margin: 25px;
    padding-bottom: 0px;

}

.contenedor-formulario{
    flex: 1;
}

.info-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.info-formulario a{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color:#da8f8f;
}

form{
    display: block;
    margin-top: 20px;
}


.campo{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.btn-enviar{
    display: block;
    padding: 10px;
    background-color: #333;
    color:white;
}


/*SERVICIOS*/

#main-servicios{
    background-image: linear-gradient(135deg
    ,#00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation:fondoanimado 10s infinite;
}

.iconos{
    text-align: center;
    font-size: 30px;
    padding: 50px;
}


.iconos i{
    padding-right: 10px;
}


.seleccionador-vehiculo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seleccionador-vehiculo label{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.seleccionador-vehiculo img{
    width: 150px; 
    height: 140px;
    margin-bottom: 10px;
    margin:15px; 
}

#tabla-tipoDeLavado, #tabla-servicios, #resumen-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

table{
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid #030303;
}

th{
    background-color: #f2f2f2;
}


tr{
background-color: rgb(4, 223, 157);
}

.lavado-deluxe li, .lavado-basico li{
    text-align: left;
}


input[name='lavado'][value='basico']{
    margin-top: 80px;
}

/*Formulario de servicios*/

.formulario-servicios {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin:0 auto;
}

.formulario-servicios form {
    display: flex;
    flex-direction: column;
}

.formulario-servicios label {
    font-weight: bold;
    margin-bottom: 5px;
}

.formulario-servicios input, .formulario-servicios textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}


.formulario-servicios .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario-servicios .col {
    flex: 1;
    margin-right: 10px;
}

.formulario-servicios button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#contenedor-formulario{
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
    /* Estilos para pantallas de 768px o menos */
    .nav-link {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        display: none;
        z-index: 1;
    }
    
    nav a {
        display: block;
        margin: 30px;
        font-size: 1.5rem;
        text-align: center;
    }
    
    nav a:hover {
        color: blue;
    }
}


/* Oculta el botón de hamburguesa en pantallas grandes */
    @media (min-width: 768px) {
.hamburger-menu {
display: none;
}
    }


/*Animación Fondo*/

@keyframes fondoanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*Animación Aparecer*/
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 

/*768 Pixeles*/


@media (max-width: 768px){
.texto-bienvenida{
    font-size:13px;
}

#mapa{
    margin: 10px;
    
}

#tabla-tipoDeLavado{
    width: 400px;
    margin: auto;
}

.seleccionador-vehiculo {
    width: auto;
}

.iconos{
    padding: auto;
}

#tabla-servicios{
    width: auto;
}

}

/*576 Pixeles*/

@media (max-width: 576px){
    .texto-bienvenida{
        font-size:10px;
    } 
}
