/*Galeria*/
#galeria{
    padding-bottom: 40px;
    h1{
        font-size: 28px;
        text-align: center;
        padding: 35px 10px;
        font-weight: 500;
        color:#ccc;
        animation-duration: 10s;
        animation-name: aparecer;
        animation-iteration-count: 1;
    }
    img{
        width: 250px;
        height: 250px;
        margin: 15px 0px ;
        &:hover{
            border:5px solid #f5f5f5;
            }
        }
    }

