/*Generales*/

@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf)
}

*{
    padding: 0;
    margin: 0;
    font-family: "montserrat";
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

